<?xml version="1.0"?>
<psalm
    resolveFromConfigFile="true"
    allowStringToStandInForClass="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    autoloader="library/Core/autoload.php"
>
    <projectFiles>
        <directory name="library" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>
</psalm>
