APP_DEBUG=true
APP_ENV=development
APP_URL=http://api.phalcon.ld
APP_NAME="Phalcon API"
APP_BASE_URI=/
APP_SUPPORT_EMAIL=team@phalcon.io
APP_TIMEZONE=UTC

TOKEN_AUDIENCE=https://phalcon.io

CACHE_PREFIX=api_cache_
CACHE_LIFETIME=86400

#DATA_API_MEMCACHED_HOST=127.0.0.1
#DATA_API_MEMCACHED_PORT=11211
#DATA_API_MEMCACHED_WEIGHT=100

DATA_API_MYSQL_NAME=gonano
#DATA_API_MYSQL_USER=root
#DATA_API_MYSQL_PASS=password

APP_IP=api.phalcon.ld

LOGGER_DEFAULT_FILENAME=api

VERSION=20180401
